* {
    /* Свойства для сброса начальных стилей элементов */
    margin: 0;
    /* внешние отступы */
    padding: 0;
    /* внутренние отступы */
    box-sizing: border-box;
    /* границы и внутренние отступы теперь не увеличивают размер элементов */
}

body {
    font-family: Inter, sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    height: 40px;
    padding: 10px 0px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:white; 
}

.main-section {
    /* Стили для первой секции */
    background:rgb(251, 249, 255);
    padding: 40px 0px;
    min-height: inherit;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-size: 35px;
    font-weight: ;
    margin-bottom: ;
}

.main-text {
    /* Стили для текста в первой секции */
    font-size: 18px;
    font-weight: ;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: none;
}


.about-section {
    /* Стили для второй секции */
    padding: 20px;
    background-color: ;
}

select {
    /* Стили для выпадающего списка */
    border: ;
    border-radius: ;
    width: ;
    padding: ;
    font-weight: ;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: ;
    font-size: ;
    margin-bottom: ;
}

.skill-list {
    /* Стили для маркированного списка во второй секции */
    font-weight: ;
    font-size: ;
    padding: ;
    list-style-image: ;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    font-weight: ;
    font-size: ;
    padding: ;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: ;
    font-size: ;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    border-radius: ;
    width: ;
    height: ;
    background-color: ;
    padding: ;
    font-weight: ;
    font-size: 16px;
}

.btn {
    /* Стили для кнопки */
    border: ;
    border-radius: ;
    width: ;
    height: ;
    background-color: ;
    font-weight: ;
    font-size: ;
    color: rgb(255, 255, 255);
}

.line {
    /* Стили для линии */
    margin: 0px;
}

table {
    /* Стили для таблицы */
    border: ;
    border-collapse: ;
    font-weight: ;
    font-size: 16px;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: ;
}

footer {
    /* Стили для футера */
    background-color: #fff;
    padding: ;
}

.footer-link {
    /* Стили для футера */
    font-weight: ;
    font-size: ;
    color: ;
    text-decoration: ;
}